.dropdown-container {
    padding:5px;
    border-radius: 10px;
    background: #f3f4f6;
    border: 2px solid #e6e8e9;
    flex-direction: column;
    height: fit-content;
}

.dropdown-selected{
    font-family: system-ui;
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 1px;
    color: #1e1e1e;
}
.dropdown-button{
    cursor: pointer;
    gap:1rem;
    padding:6px 12px;
    width: 100%;
    height: max-content;
    border:none;
    border-radius: 10px;
    background:none;
    align-items: center;
}
.dropdown-menu-container{
    flex-direction: column;
}
.img-container{
    height:20px;
}
.img-container img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.dropdown-option{
    cursor: pointer;
    padding:6px 12px;    
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border: 2px solid #e6e8e9;
    border-radius: 10px;
}
.dropdown-option:hover{
    background-color: #d3d3d3;
}