#login-page{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(13, 169, 180, 1) 0%, rgba(8, 122, 130, 1) 100%);
    position: relative;
    overflow: hidden;
}

#welcome-message{
    color: #595959;
    font-family: system-ui;
    margin: 1.5rem 0 3.8rem 0;
    font-size: 2.6rem;
}

.login-bubble{
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(255, 255, 255, 0.48) 100%);
    box-shadow: 0 0 6px white;
}

#bubble-1{
    width: 1200px;
    height: 1200px;
    bottom: -750px;
    justify-self: center;
}

#bubble-2{
    width: 160px;
    height: 160px;
    top: 5%;
    left: 35%;
}

#bubble-3{
    width: 310px;
    height: 310px;
    top: 20%;
    left: 70%;
}

#bubble-4{
    width: 250px;
    height: 250px;
    top: 50%;
    left: 10%;
}

#login-container{
    display: flex;
    flex-direction: column;
    transform: translateY(-1rem);
    width: 45rem;
    align-items: center;
    /* gap: 1.5rem; */
    padding: 5rem;
    border: 1px solid var(--light-gray);
    border-radius: 18px;
    box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.87) 71%, rgba(255, 255, 255, 0.87) 100%);
    z-index: 10;
}

#login-inputs{
    width: -webkit-fill-available;
    gap: 40px;
}

#login-inputs input{
    width: -webkit-fill-available;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    z-index: 1;
}

#login-inputs input:focus{
    outline: none;
}

#login-inputs img{
    width: 24px;
    height: 24px;
    filter: invert(35%) sepia(0%) saturate(1%) hue-rotate(355deg) brightness(97%) contrast(92%);
}
#login-inputs .input-container:first-child img{
    width: 23px;
    height: 23px;
}
#login-inputs .input-container:nth-child(2) img{
    cursor: pointer;
}

#toggle-password-visibility-line{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #595959;
    transform: translate(-10px, 16px) rotate(90deg);
    right: 0;
    top: 0;
    border-radius: 50px;
    transition: 200ms;
    opacity: 0;
}

.input-container{
    position: relative;
    border-bottom: 2px solid gray;
    padding: 5px 10px 5px 7px;
}

.input-placeholder{
    position: absolute;
    font-weight: 600;
    color: #595959;
    transition: 200ms;
}

.input-container:focus-within .input-placeholder{
    /* color: #25a8ff; */
    color: #036DFF;
    transform: translateY(-25px);
    font-size: 0.9rem;
}
.input-container.filled .input-placeholder {
    /* color: #25a8ff; */
    color: #036DFF;
    transform: translateY(-25px);
    font-size: 0.9rem;
}

#forgot-password-container{
    position: relative;
    align-self: flex-end;
}

#forgot-password-container label{
    font-family: system-ui;
    font-size: 0.75rem;
    font-weight: 700;
    color: #036DFF;
    margin: 8px 3px 0 0;
    cursor: pointer;
}
#forgot-password-container label:hover{
    text-decoration: underline;
}
#forgot-password-container img{
    position: absolute;
    opacity: 0;
}

#login-action-button{
    margin: 3rem 0 3rem 0;
    width: 99%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #036DFF;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    font-family: system-ui;
    cursor: pointer;
    transition: 200ms;
}
#login-action-button:hover{
    transform: translateY(-7px);
    box-shadow: 0 7px 0 #002861;
}
#login-action-button:active{
    transform: translateY(0px);
    box-shadow: 0 0px 0 #002861;
}

#switch-between-login-and-register-container label{
    font-family: system-ui;
}

#register-link{
    font-weight: 700;
    color: #036DFF;
    cursor: pointer;
}
#register-link:hover{
    text-decoration: underline;
}