#navbar {
  position: fixed;
  /* background-color: #f6f7f9; */
  /* background-color: #c7c7c7; */
  background-color: #f2f3f5;
  border-radius: 24px;
  padding: 1rem 2.2rem;
  height: 6rem;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;


  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#navbar .logo:hover *{
  cursor: pointer;
}

#navbar .logo:hover .logo-underline{
  width: 100%;
}

#navbar-our-location-container{
  align-items: center;
  gap: 3px;
}
#navbar-our-location-container div{
  align-items: center;
}
#navbar-our-location-container div:nth-of-type(1) label{
  font-family: system-ui;
  color: #555555;
  font-size: 0.9rem;
}
#navbar-our-location-container div:nth-of-type(2) label{
  font-family: system-ui;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3rem;
  /* border-bottom: 3px solid; */
  /* border-image: linear-gradient(to right, white 36%, green 36%, green 63%, red 63%) 5; */
  /* border-image: linear-gradient(to right, white 35%, green 35%, green 65%, red 65%) 5; */
  transform: translateX(-7px);
}
#navbar-our-location-container img{
  width: 16px;
  height: 15px;
  margin-right: 4px;
  filter: invert(17%) sepia(1%) saturate(0%) hue-rotate(210deg) brightness(89%) contrast(83%);
  transform: translateY(-1px);
}

#login-button{
  outline: 2px solid #a3a3a3;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 5px 5px 10px #BEBEBE, -5px -5px 10px #ffffff;
  margin-left: 20rem !important;
  cursor: pointer;
}
#login-button *{
  cursor: pointer;
  transition: 100ms;
}
#login-button button *{
  transition: 0ms !important;
}
#login-button button img{
  width: 21px !important;
  height: 21px !important;
}
#login-button:hover{
  background-color: #fcfcfc;
}
#login-button:hover label{
  color: #009cff;
}
#login-button:hover img{
  filter: invert(49%) sepia(29%) saturate(6450%) hue-rotate(179deg) brightness(100%) contrast(108%);
}

.navbar-button{
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-buttons-container{
  gap: 10px;
  margin-left: 3rem;
}
.navbar-buttons-container button{
  border: none;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  background: none;
}
.navbar-buttons-container button:hover label{
  /* color: #e38054; */
  color: #009cff;
}
.navbar-buttons-container button:hover img{
  /* filter: invert(75%) sepia(30%) saturate(3488%) hue-rotate(320deg) brightness(91%) contrast(94%); */
  filter: invert(49%) sepia(29%) saturate(6450%) hue-rotate(179deg) brightness(100%) contrast(108%);
}
.navbar-buttons-container button *{
  cursor: pointer;
  transition: 100ms;
}
.navbar-buttons-container button label{
  font-family: system-ui;
  font-weight: 500;
  font-size: 0.9rem;
  padding-bottom: 1px;
  color: #1e1e1e;
}
.navbar-buttons-container button img{
  width: 21px;
  height: 21px;
}
.navbar-buttons-container button:first-of-type img{
  width: 29px;
  height: 29px;
}