.options-container{
    position: absolute;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    transform: translateY(-4rem);
}
.download-container{
    align-self:flex-start;
    gap:2rem;
}
.download-container span{
    font-family: system-ui;
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 1px;
    color: #1e1e1e;
    align-self: center;
    margin:5px;
}
.download-button{
    border: 2px solid #e6e8e9;
    border-radius: 30px;
    padding:5px;
    background: #f3f4f6;
    height: fit-content;
    cursor: pointer;
}
.download-container img{
    margin:5px;
    height: 18px;
    width: 18px;
}